/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:800px)  {
  #info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .bioHeader {
    margin-left: 5px;
    float: left;
  }

  .container {
    width: 90%;
    background: white;
    margin: 0 auto;
    border-color: #ccc;
    padding: 5px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    min-height: 60vh;
  }
  .navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .fa {
    font-size: 20px !important;
  }
}

@media (max-width:360px) {
  #logo {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@media (min-width: 800px) {
  .container {
    width: 60%;
    background: white;
    margin: 0 auto;
    border-color: #ccc;
    padding: 30px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    margin-bottom: 100px;
    clear: both;
    min-height: 60vh;
  }
}
.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


ul.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f1f1f1;
}

li.logout{
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  float: right;
}

li.navbar{
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  float: left;
}

a.navbar{
  display: block;
  color: #000;
  text-align: center;
  padding: 18px 15px;
  text-decoration: none;
}

button {
  background-color: #008CBA;
  font-size: 100%;
  border-radius: 4px;
  border: none;
  padding: 8px 15px 8px 15px;
  color: white;
  text-align: center;
}
button:hover {
  background-color: #000080;
}

li a:hover {
    background-color: #555;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

tr:hover {
  background-color: #f5f5f5;
}

body {
  font-family: sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png");
}

.container {
  width: 65%;
  background: white;
  margin: 0 auto;
  border-color: #ccc;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  margin-bottom: 100px;
  clear: both;
  min-height: 60vh;
}

article {
  margin-left: 50px;
  padding: 1em;
  overflow: hidden;
}

#reviewtextbox {
    height:100px;
    width:150px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#footer {
  margin-top: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75em;
  width: 100%;
  height: 75px;
  background-color: #f5f5f5;
  position: static;
  bottom: 0px;
}

.footer-icons > *.fa {
  font-size: 2em;
}

/*th, td {
    max-width: 100px;
    overflow: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/
